.repoNav{
  position: fixed;
  bottom: 780px;



}


.date-picker-container {



    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .date-label0 {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color: #0F2043;
    white-space: nowrap;
  }
  
  .custom-datepicker {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #0F2043;
    border-radius: 5px;
    width: 100px;
    height: 25px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #0F2043;
    position: relative;
    left:4px; 
    top:-5px;
  }
  
  
  
  .search-icon {
    width: 20px;
    height: 20px;
  }

  .boxReport1{
    width: 1200px;
    height: 860px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #d7e1f4;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 

}

.bodyReport{
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 100%; 
    width: 100%;
}


.summary-table {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.summary-table table {
  border-collapse: collapse;
  width: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary-table th, .summary-table td {
  padding: 10px 15px;
  text-align: center;
  color: #0F2043;
  border: 1px solid #ccc;
}

.summary-table th {
  background-color: #0F2043;
  color: white;
}

.report-table {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.report-table table {
  border-collapse: collapse;
  width: 90%;
  background-color: #fff;
}

.report-table th,
.report-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.report-table th {
  background-color: #0F2043;
  color: white;
}

.no-data-message1 {
  text-align: center;
  color: #0F2043;
  font-size: 16px;
  margin-top: 20px;
}

.report-table table,

.report-table td {
  color: #0F2043; /* Or any color you prefer */
}