.boxReport{
    width: 100%;
    height: 860px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #F0F3F8;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 

}