.boxReport{
    width: 1200px;
    height: 860px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #d7e1f4;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 

}

.bodyReport{
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 100%; 
    width: 100%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-label{
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color: #0F2043;
}

.custom-datepicker {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #0F2043;
    border-radius: 5px;
    width: 100px;
    height: 25px;
  }

  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #0F2043;
    position: relative;
    right:32px; 
    top: 2px;
  }
  
  
 .report{
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    
    font-size: 16px;
 }

 .repoNav{
    position: fixed;
    bottom: 770px;
    top: 170px;
  
  
  }
  